# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\py\keras-cats-dogs-tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
